{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>성연우의 포트폴리오 사이트</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="https://user-images.githubusercontent.com/61678329/276230584-bda07c33-4dcb-44dc-bdd5-5b45f2259b3c.png"
        rel="icon">
    <link href="https://user-images.githubusercontent.com/61678329/276230584-bda07c33-4dcb-44dc-bdd5-5b45f2259b3c.png"
        rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&subset=cyrillic"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Lonely
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-lonely/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
        <h1>성연우의 포트폴리오</h1>
        <br>
        <br>
        <h2>데이터로 일하는 <br> 머신러닝 엔지니어</h2>
        <a href="#about" class="btn-get-started scrollto"><i class="bi bi-chevron-double-down"></i></a>
    </section><!-- End Hero -->

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="index.html"></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#resume">Career</a></li>
                    <li><a class="nav-link scrollto" href="#services">Project</a></li>
                    <li><a class="nav-link scrollto" href="#etc">ETC</a></li>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="row no-gutters">
                    <div
                        class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
                    </div>
                    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                        <div class="content d-flex flex-column justify-content-center">
                            <h3>데이터로 일하는 <br> 머신러닝 엔지니어</h3>
                            <br>
                            <div class="row">
                                <div class="flex-container">
                                    <i class="material-icons-outlined" style="padding-left: 10px;">celebration</i>
                                    <h4>
                                        공모전 수상, 서비스 제작 경험
                                    </h4>
                                </div>
                                <div class="flex-container">
                                    <i class="material-icons-outlined" style="padding-left: 10px;">science</i>
                                    <h4>
                                        다양한 인공지능 Task 경험
                                    </h4>
                                </div>
                                <div class="flex-container">
                                    <i class="material-icons-outlined" style="padding-left: 10px;">emoji_objects</i>
                                    <h4>
                                        창의적이고 혁신적인 해결책 제시
                                    </h4>
                                </div>
                            </div><!-- End .content-->
                        </div>
                    </div>
                </div>
        </section><!-- End About Section -->

        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>기술 스택</h2>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">Python <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Pytorch <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Tensorflow <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">Numpy <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Pandas <i class="val">85%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Github <i class="val">65%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="container">
                <div class="image-container">
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539619-d48fccae-7428-46a8-b679-4c2a047ce2df.png" alt="이미지1" >
                        <p>Python</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539622-07bc2e42-f3ec-42dc-8b86-05d23601c6ea.png" alt="이미지2">
                        <p>Pytorch</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539628-1af0bf88-826c-44d3-992d-ceac5a684407.png" alt="이미지3">
                        <p>Tensorflow</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539615-e681f754-a557-4044-8a95-32ddba9cef50.png" alt="이미지4">
                        <p>Numpy</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539618-65dbd861-71e9-431c-9ab5-a2879330555b.png" alt="이미지5">
                        <p>Pandas</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539617-63412e72-62bf-495d-a98e-2c0002a3ae5f.png" alt="이미지6">
                        <p>OpenCV</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539584-64edf1fc-aec8-4994-bba5-b8c06d828bb8.png" alt="이미지7">
                        <p>Django</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539593-6306164b-7b77-4178-81bc-25319b08ed51.png" alt="이미지8">
                        <p>Git</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539589-579fcca7-eda2-45e7-beb5-8196d46a8510.png" alt="이미지9">
                        <p>GitHub</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539604-771c344d-a3d3-41d6-b2d2-b63d0669dcb5.png" alt="이미지10">
                        <p>Linux</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539629-9c7c54ea-c536-442f-b924-2b3e23c67681.png" alt="이미지11">
                        <p>Ubuntu</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539585-ec175d7b-2611-443d-98b1-055f7e9706a9.png" alt="이미지12">
                        <p>Docker</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539570-a1ec4113-3791-4147-a791-dc62a5b98141.png" alt="이미지13">
                        <p>Anaconda</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="https://user-images.githubusercontent.com/61678329/278539565-967d666b-187c-4f01-afba-a635e48869d0.png" alt="이미지14">
                        <p>AWS</p>
                    </div>
                </div>
            </div>
        </section><!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>이력</h2>
                </div>
                <div class="row">
                    <h3 class="resume-title">경력</h3>
                    <div class="col-lg-6">
                        <div class="resume-item pb-0">
                            <h4>(주)몰팩바이오</h4>
                            <h5>2023.08 - </h5>
                            <p><em>AI 개발부</em></p>
                            <p>
                            <ul>
                                <li>Lung cancer WSI (Whole-Size Image) 증강 및 진단 모델 연구</li>
                                <ul>
                                    <li>기간 : 2023.09 - 2023.10</li>
                                    <li>사용 기술 : Python, Machine Learning, Deep Learning, Transfer Learning,
                                        Fine-tuning, timm, Classification</li>
                                    <li>역할 : Pathology GAN 모델 개발, Classification 모델 개발
                                    </li>
                                    <li>내용 :</li>
                                    <ul>
                                        <li>GAN(StyleGAN-XL, MultiPathGAN, DCGAN)을 이용한 Lung cancer WSI 이미지의 양성 및 음성 class data 증강</li>
                                        <li>GAN 알고리즘 및 Classification 모델 pipeline 구축</li>
                                        <li>오리지널 데이터와 MultiPathGAN 추론데이터를 사용하여 Classification 및 비교</li>
                                    </ul>
                                </ul>
                                <li>의료용 WSI (Whole-Size Image)를 이용한 MVP 판별</li>
                                <ul>
                                    <li>기간 : 2023.09 - </li>
                                    <li>사용 기술 : Python, Machine Learning, Deep Learning, Transfer Learning,
                                        Fine-tuning, Segmentation</li>
                                    <li>역할 : 인공지능 모델 개발, Hyper-parameter 조정, 논문 Review & 모델 개선, Segmentation,아이디어 제공
                                    </li>
                                    <li>내용 :</li>
                                    <ul>
                                        <li>MVP(microvascular proliferation) 패치화 및 Mask 전처리 진행</li>
                                        <li>Segmentation 모델간 benchmark 진행</li>
                                    </ul>
                                </ul>
                                <li>의료용 WSI(Whole-Size-Image)를 이용한 뇌종양의 4가지 분류 판별</li>
                                <ul>
                                    <li>기간 : 2023.08 - </li>
                                    <li>사용 기술 : Python, Machine Learning, Deep Learning, Transfer Learning,
                                        Fine-tuning,
                                        timm, Segmentation</li>
                                    <li>역할 : 인공지능 모델 개발, Hyper-parameter 조정, 논문 Review & 모델 개선, Segmentation,아이디어 제공
                                    </li>
                                    <li>내용 :</li>
                                    <ul>
                                        <li>microvascular, mitosis, necrosis, tumor 탐지 및 전체 비율 중 해당 면적 계산</li>
                                        <li>Multiclass Classification에 맞는 Model 설계 및 Parameter 설정</li>
                                    </ul>
                                </ul>
                                <li>의료용 WSI(Whole-Size-Image)를 이용한 Mitosis 판별</li>
                                <ul>
                                    <li>기간 : 2023.08 - </li>
                                    <li>사용 기술 : Python, Machine Learning, Deep Learning, Transfer Learning,
                                        Fine-tuning,
                                        timm</li>
                                    <li>역할 : 인공지능 모델 개발, GMP 문서 작성, Hyper-parameter 조정, 논문 Review & 모델 개선,
                                        Classification, 아이디어 제공 </li>
                                    <li>내용 :</li>
                                    <ul>
                                        <li>timm 라이브러리를 이용하여 WSI 이미지 (의료 도메인)과 어울리는 모델 탐색, binary classification에
                                            사용할
                                            Learning Rate Scheduler 선정 및 수정 후 모델에 맞게 설계</li>
                                        <li>Hyper-parameter Tuning, Transfer-Learning, Fine-tuning 진행</li>
                                        <li>450,000 X 450,000이 넘어가는 이미지 patch화 진행</li>
                                        <li>보조진단 의료기기 관련 GMP 문서 작성</li>
                                        <li>최신 논문 Review 후 모델 개선</li>
                                        <li>의료용 도메인에 맞는 학습 방법 설계</li>
                                    </ul>
                                </ul>
                            </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="resume-item pb-0">
                            <h4>(주)테라리더</h4>
                            <h5>2021.03 - 2021.12</h5>
                            <p><em>SW 개발부</em></p>
                            <p>
                            <ul>
                                <li>Syringe Pump</li>
                                <ul>
                                    <li>사용 기술 : Python, Arduino, PyQt, Pyserial, Linux</li>
                                    <li>역할 : Syringe Pump SW 개발, GUI 구성</li>
                                    <li>내용 :</li>
                                    <ul>
                                        <li>Python GUI 라이브러리인 PyQt를 이용하여 사용자 인터페이스 구성</li>
                                        <li>Arduino와의 시리얼 통신을 통해 Stepper Motor 구동</li>
                                        <li>라즈베리파이를 이용하여 모듈화 진행</li>
                                    </ul>
                                </ul>
                                <li>Spin Coater</li>
                                <ul>
                                    <li>사용 기술 : Python, Arduino, PyQt, Pyserial, Linux</li>
                                    <li>역할 : Spin Coater SW 개발, GUI 구성</li>
                                    <li>내용 :</li>
                                    <ul>
                                        <li>Python GUI 라이브러리인 PyQt를 이용하여 사용자 인터페이스 구성</li>
                                        <li>Arduino와의 시리얼 통신을 통해 Stepper Motor 구동</li>
                                        <li>라즈베리파이를 이용하여 모듈화 진행</li>
                                    </ul>
                                </ul>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">교육 및 활동</h3>
                        <div class="resume-item">
                            <h4>KT 에이블 스쿨</h4>
                            <h5>2023.01 - 2023.07</h5>
                            <p><em>KT, 고용노동부 K-Digital Training 교육 프로그램</em></p>
                            <p>실무형 프로젝트인 미니프로젝트 1~7차, 빅 프로젝트를 진행</p>
                        </div>
                        <div class="resume-item">
                            <h4>실전문제연구단</h4>
                            <h5>2022.03 - 2022.11</h5>
                            <p><em>한남대학교에서 주관하며 전국 연합으로 진행한 산업의 실제문제를 해결하는 프로젝트</em></p>
                            <p> 'AI기반 CNC 밀링 머신의 실시간 이상 소음 감지' 프로젝트를 진행</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="resume-title">학력</h3>
                        <div class="resume-item pb-0">
                            <h4>한남대학교 졸업</h4>
                            <h5>2017.03 - 2023.02</h5>
                            <p><em>산업경영공학과 3.93 / 4.5</em></p>
                            <p>
                            <ul>
                                <li>데이터 사이언스</li>
                                <li>머신러닝 기초</li>
                            </ul>
                            </p>
                            <h4>서대전고등학교 졸업</h4>
                            <h5>2014.03 - 2017.02</h5>
                        </div>
                    </div>

                </div>
        </section><!-- End Resume Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>프로젝트</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <div class="icon"><i class="material-icons-outlined">recommend</i></div>
                            <h4 class="title"><a href="https://github.com/YEUNU/Bareum" target="_blank">AI를 활용한
                                    건강기능식품<br>추천 및 관리 서비스</a></h4>
                            <p class="description">23.05.22 ~ 23.07.06<br>AI(OCR, 추천 모델), Data수집</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <div class="icon"><i class="material-icons-outlined">sentiment_very_satisfied</i></div>
                            <h4 class="title"><a href="https://github.com/YEUNU/Emotion_Detection" target="_blank">음성,
                                    텍스트를 활용한 감정인식<br>개인 맞춤형 챗봇 서비스</a></h4>
                            <p class="description">2023.04.13 ~ 2023.05.14<br>AI(STT모델, 감정분석), 프로토타입</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <div class="icon"><i class="material-icons-outlined">graphic_eq</i></div>
                            <h4 class="title"><a href="https://github.com/YEUNU/Autoencoder_Anomaly_Detection"
                                    target="_blank">산업장비 소리를 이용한<br>비정상 상황 구별</a></h4>
                            <p class="description">2022.03.20 ~ 2022.12.10<br>AI(비정상분류 모델), 프로토타입</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Services Section -->

        <!-- ======= etc Section ======= -->
        <section id="etc" class="services section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>수상 및 기타</h2>
                </div>
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276231149-114c583d-bfc6-4082-a6b9-82129180d347.jpg"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">우수상</a></h4>
                            <h6 style="font-weight: bold;">2023.09</h6>

                            <p class="description">제2회 통신망 안정성 확보를 위한 인공지능 해커톤</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276233354-ba9c8c50-e065-4f35-b3df-b3b2a9f8af77.jpg"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">마스터</a></h4>
                            <h6 style="font-weight: bold;">2023.07</h6>

                            <p class="description">KT 에이블스쿨 코딩마스터즈</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276233343-1caa4d60-235b-486b-8132-3b36415eccd6.jpg"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">Excellence</a></h4>
                            <h6 style="font-weight: bold;">2023.07</h6>

                            <p class="description">KT 에이블스쿨 빅프로젝트</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276231726-4c371539-9941-4b1e-90e3-c4846191e1f9.png"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">Aice Associate</a></h4>
                            <h6 style="font-weight: bold;">2023.04</h6>

                            <p class="description">인공지능 능력시험</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276234591-dfcb6e9b-0ac1-4ab8-81b5-243d76d146bc.jpg"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">KT 에이블 스쿨</a></h4>
                            <h6 style="font-weight: bold;">2023.01 ~ 2023.07</h6>

                            <p class="description">K-Digital Training</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276230565-4b82de46-2b8c-4cd7-9150-8f71b9cba4f9.png"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">장려상</a></h4>
                            <h6 style="font-weight: bold;">2022.11</h6>

                            <p class="description">제2회 X-Corps Plus 페스티벌</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276230542-f1a9f145-a4f6-46b5-9389-a2be272ce7f1.png"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">금상</a></h4>
                            <h6 style="font-weight: bold;">2022.11</h6>

                            <p class="description">제1회 HCS 메가시티 실전문제연구단 연합경진대회</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276230555-41282389-74e4-4b87-a0af-de2e7bd5eb89.png"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">우수연구상</a></h4>
                            <h6 style="font-weight: bold;">2022.11</h6>

                            <p class="description">2022 한국산업경영시스템학회 추계학술대회</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276230552-2f464f1b-7208-4bc9-9688-760303ebb167.png"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">은상</a></h4>
                            <h6 style="font-weight: bold;">2022.11</h6>
                            <p class="description">2022년 HNU미래인재양성사업 실전문제연구팀 연구성과 경진대회</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-5">
                        <div class="icon-box">
                            <img id="myImg"
                                src="https://user-images.githubusercontent.com/61678329/276231390-6b703fce-4c9e-4b93-bcec-ed3086bb8fa2.png"
                                alt="이미지 설명" class="award_image">
                            <h4 class="title">최우수상</h4>
                            <h6 style="font-weight: bold;">2022.10</h6>
                            <p class="description">2022 피우다프로젝트(공공데이터 활용 산업 • 사회문제 해결)</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>


                <p><i class="bi bi-envelope-fill icon-padding"></i> <a
                        href="mailto:grinteacake@naver.com">grinteacake@naver.com</a></p>
                <p><i class="bi bi-github icon-padding"></i> <a href="https://github.com/YEUNU"
                        target="_blank">GitHub</a></p>
            </div>

        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>YUNU</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>