services:
  #--- Gateway ---
  # 외부 요청을 받아 각 서비스로 분배하는 리버스 프록시
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile

    volumes:
      # - ./nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf

    depends_on:
      - frontend
      - backend
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  #--- Backend Service ---
  # 비즈니스 로직을 처리하는 FastAPI 애플리케이션
  backend:
    build: ./backend
    # 로컬 소스 코드를 컨테이너 내부로 마운트하여 실시간 코드 변경 반영
    volumes:
      - ./backend/app:/app/app
    # env_file을 통해 환경 변수 설정
    env_file:
      - .env
    # DB 서비스가 준비된 후에 시작하도록 설정
    depends_on:
      db:
        condition: service_healthy
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  #--- Frontend Service ---
  # Vue.js 정적 파일을 서빙하는 Nginx
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  #--- Database Service ---
  # 데이터를 저장하는 PostgreSQL 데이터베이스
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    logging:
      options:
        max-size: "10m"
        max-file: "10"

volumes:
  postgres_data:
